body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-234px;
  width:396px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u112 label {
  left:0px;
  width:100%;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:224px;
  width:100px;
  height:15px;
  display:flex;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u112_img.selected {
}
#u112.selected {
}
#u112_img.disabled {
}
#u112.disabled {
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u112_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u113 label {
  left:0px;
  width:100%;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:224px;
  width:100px;
  height:15px;
  display:flex;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u113_img.selected {
}
#u113.selected {
}
#u113_img.disabled {
}
#u113.disabled {
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u113_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
